{% extends 'test/base.html' %}

{% block title %}Login{% endblock %}

{% block add_styles %}
<style>
    body {
        background-color: #f8f9fa;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    .container {
        background-color: white;
        border-radius: 2vw;
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
        padding: 3vw;
        max-width: 90%;
        width: 90%;
        margin: 0 auto;
        text-align: center; /* Выравнивание текста по центру */
    }
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Высота окна браузера */
        padding: 15px;
    }
    .login-form {
        width: 100%;
        max-width: 500px;
        padding: 30px;
        background-color: #f9f9f9;
        border-radius: 15px; /* Увеличили радиус закругления углов */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Увеличили тень */
    }

</style>
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-form">
        <form action="{% url 'login' %}?next={{ request.path }}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary w-100" value="Login">
        </form>
        <a class="nav-link text-center mt-3" href="{% url 'register' %}">Not registered? Sign up</a>
    </div>
</div>
{% endblock %}
